* {font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

body {
	background: linear-gradient(-45deg,#1F618D, #6C3483 , #1A5276, #5B2C6F);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


/* player */

.player {
    background: #17202A;
    min-width: 380px;
    max-width: 560px;
    border-radius: 1rem;
    justify-content: center;
    padding: 2rem;
    color: #ffffff;
    margin: 2rem;
}

/* titulo */

.title {
    margin-top: 0;
    text-align: center;
}

/* cover */
.cover {
    width: 320px;
    height: 190px; 
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 1rem;
    object-fit: cover;
    opacity: 0.75;
}

/* barra de progreso */

.progress-container {
    height: 0.5rem;
    background: rgba(255, 255, 255, 0.13);
    margin: 1rem 0 1rem 0;
    border-radius: 6px;
    cursor: pointer;
}

.progress {
    background: #ECF0F1;
    height: 100%;
    width: 0;
    border-radius: 6px;
}

/* controles */

.controls {
    display: flex;
    justify-content: space-around;
    
}

.controls button {
    background-color: transparent;
    border: none;
}

.controls i {
    font-size: 1.3rem;
    color: #fff5;
}

.controls i.active {color: #fff;}
.controls i.active:hover {color: rgba(255, 255, 255, 0.75); cursor: pointer;}
.controls i.active:active {color: rgba(255, 255, 255, 0.5);}

/* canciones */

.song {
    background: #17202A;
    width: 380px;
    border-radius: 1rem;
    justify-content: center;
    color: #ffffff;
    margin: 0 1rem 0 1rem;
}

.songs {
    list-style: none;
    margin: 1rem;
    padding: 0;
}

.songs li {
    margin-bottom: .5rem;
}

.songs a {
    color: #fff5;
    text-decoration: none;
}

.songs a.active {color: #fff; font-weight: bold;}

.songs a:hover {
    color: #ffffffbd;
    transition: .5s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 600px) {
    .player {
        min-width: 340px;
        max-width: 340px;
    }

    .cover {
        width: 275px;
        height: 150px;
    }

    .title {
        font-size: 19px;
    }

    .song {
        width: 340px;
    }

    .songs li {
        margin: 4px;
    }

    .songs a {
        font-size: 14px
    }
}